body, html, * {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200%;
    border: 1px dashed lime;
}

.row {
    width:100%;
    overflow: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    border: 1px solid #000000;
    background: rgb(221, 221, 221);
    margin: .5em 0;
}

.one-half {
    width: 50%;
}

.one-third {
    width: 33.33%;
}

.one-fourth {
    width: 25%;
}

.one-sixth {
    width: 16.66%;
}

.one-eighth {
    width: 12.5%;
    margin-bottom: 2em;
}
