/*Body
---------------------------------------------------*/
body {
    background-color: #6495ed;
    background-image: url("../img/Nimvelo.jpg");
    font-family: 'Varela Round', serif;
    /*color: #4776E6;*/
}

.fancy-header {
    color: #0ABFBC; /* single line comment */
text-decoration: underline;
text-align: center;
}

h2 {
    color: #fff;
}

ul {
    list-style: square;
}

td, tr {
    padding: 10px;
    font-size: 20px;
}

/*Footer
--------------------------------------*/
/* unvisited link (:link) */
a:link {
    color:#fbc7d4;
}
/* visited link (:visited) */
a:visited {
    color:#800080;
}
/* mouse hover over link (:hover) */
a:hover {
    color:#D7DDE8;
}
/* active or selected link (:active) */
a:active {
    color:#ffff00;
}

