/*Body
---------------------------------------------------*/
body {
    background-color: #6495ed;
    background-image: url("../img/Nimvelo.jpg");
    font-family: 'Varela', sans-serif;
    /*color: #4776E6;*/
    font-weight: bolder;
}

.fancy-header {
    color: #0ABFBC; /* single line comment */
    text-decoration: underline;
    text-align: center;
    padding: 1em;
    width: 100%;
    text-transform: uppercase;
    word-spacing: 1em;
    letter-spacing: 0.2em;
    margin: 0;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.img {
    width: 500px;
    height: 300px;
    margin: 1em;
    border-radius: 10px;
    opacity: 0.8;

}
.img-center {
    text-align: center;
}

ul {
    list-style: square;
}

table, td, tr {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #0abfbc;
    padding: 1em;
    font-size: 1em;
}


/*Footer
--------------------------------------*/
/* unvisited link (:link) */
a:link {
    color:#fbc7d4;
}
/* visited link (:visited) */
a:visited {
    color:#800080;
}
/* mouse hover over link (:hover) */
a:hover {
    color:#D7DDE8;
}
/* active or selected link (:active) */
a:active {
    color:#ffff00;
}

/* can be used to keep padding and border, etc, but shrinks content area.
box-sizing: border-box;
 */